/* .header-item{
    max-width: 1140;
    margin-top: 30px;
} */
 /* display-fiex */
.display-flex{
    display: flex;
}
/* max-width */
.nav-container, 
.hero-section, 
.card-itam{
    max-width: 1140px;
    margin: 0 auto;
}    
.nav-container, 
.hero-section{
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.rgba{
    color:rgba(137, 135, 161, 1);
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
/* main section */
main > section{
    margin-top: 120px;
}
/* hero-section */
.hero-section{
    margin-top: 80px;
}

.always-section{
    margin-top: 162px;
    gap: 13px;
}
.always-font{
    font-weight: 700;
    font-size: 4rem;
    color: rgba(0, 0, 0, 1);
}
.fresh-font{
    font-weight: 700;
    font-size: 4rem;
    color: rgba(233, 90, 8, 1);
}
.reglur{
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}
/* our-plants-faction */
.our-plants-faction div{
    text-align: center;
    align-items: center;

}

.ours{
    color: rgba(233, 90, 8, 1);
     font-weight: 700;
     font-size: 3rem;
}
.plants{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 3rem;
}
.color-our{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
/* card-container */
.card-container{
    max-width : 270px;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 20px;
}
.margin-bottom{
    margin-bottom: 30px;
}
/* card itam */
.meidam-font{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(17, 17, 17, 1);
}
.usd{
    font-size: 1.3rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
}
.add-to-card{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    gap: 30px;
    background-color: #E95A08;
    padding: 1.3rem 3rem;
    
}
/* flower-and-plants lover */
.flower-lover{
    justify-content: space-between;
}
.flower-and{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
/* maxx-width */
.maxx-width{
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
/* two-imgs */
.gap-two-img{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 28px;
}
.all-section{
    display: flex;
    justify-content: center;
    gap: 28px;
}
.img-tow{
    border-radius: 1rem;
}
.img-one{
    border-radius: 1.3rem;
}
/* two-backround-img*/
.backround-img-bloom{
    background-image: url('../assets/deal-bloom.png'),
     url('../assets/deal-ana.png');
     background-repeat: no-repeat;
     background-position: center left;

}

.backround-img-Zabo{
    background-image: url('../assets/deal-zabo.png');
}
@media screen and (max-width: 576px) {
    
    
}